testMyElephant/node_modules
testMyElephant/public/hot
/public/storage
/storagetestMyElephant/*.key
/testMyElephant/vendor
testMyElephant/.env
testMyElephant/.env.backup
testMyElephant/.phpunit.result.cache
testMyElephant/docker-compose.override.yml
testMyElephant/Homestead.json
testMyElephant/Homestead.yaml
testMyElephant/npm-debug.log
testMyElephant/yarn-error.log
.idea/
