

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

body{
    top: 0px;
    left: 0px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.home{
    position: absolute;
    margin: auto auto auto auto;
    background-image: url("../assets/BG1tme-min.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-x: center;
    background-position-y: 80%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    /* min-height: 100vh; */
}

.sections {
    display: flex;
    flex-direction: row;

}

.formSection{
    display: flex;
    flex-direction: column;
    background-color: white;

    /* margin: auto; */
    /* margin: auto auto auto 15vw; */
    border-radius: 5px;
    padding: 20px;
    max-width: 250px;
    text-align: center;
    -webkit-box-shadow: -4px 8px 15px -4px #000000;
    box-shadow: -4px 8px 15px -4px #000000;
}

.formCloneRepo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.formCloneRepo > input {
    width: 100%;
    margin: 15px;
    padding: 5px;
    outline: none;
    border: none;
    touch-action: manipulation;
    font-family: 'Nunito', sans-serif, bold;
}

.formCloneRepo > input:focus {
    border-bottom: 2px black;
    outline: 0;
}

.line{
    margin-top: -13px;
    margin-bottom: 10px;
    height: 2px;
    background: rgb(0,71,9);
    background: linear-gradient(63deg, rgba(0,71,9,1) 0%, rgba(0,108,105,1) 100%);
    width: 100%;
    border-radius: 2px;
}

.btn {
    background: rgb(0,71,9);
    background: linear-gradient(63deg, rgba(0,71,9,1) 0%, rgba(0,108,105,1) 100%);
    border-radius: 5px;
    color: #eee;
    font-size: 15px;
    padding: 10px;
    margin: 15px;
    font-family: 'Nunito', sans-serif, bold;

}

a:hover{
    color: white;
}

  /* .btn:hover, .btn:focus, .btn:active {
    background-color: rgb(1, 34, 5);
    color: white;
  } */


.btn--homeAuthFalse{
    background: rgb(0,71,9);
    background: linear-gradient(63deg, rgba(0,71,9,1) 0%, rgba(0,108,105,1) 100%);
    border-radius: 5px;
    color: #eee;
    font-size: 15px;
    padding: 10px;
    margin: auto 5px auto 2.5px;
    /* -webkit-box-shadow: -4px 5px 4px -4px #000000;
    box-shadow: -4px 5px 4px -4px #000000; */
    font-family: 'Nunito', sans-serif, bold;
}


.formSection_authFalse--btn{

    display: flex;
    flex-direction: row;
    margin: 20px auto auto auto;
}

.logo_homePage{
    position: relative;
    background-image: url("../assets/logo_testMyElephant_white.png");
    background-attachment: center;
    background-size: 100%;
    height: 280px;
    width: 310px;
    /* margin: 100px auto auto 300px; */
}

.logo_black{
    position: relative;
    background-image: url("../assets/logo_testMyElephant_black.png");
    background-attachment: center;
    background-size: 100%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    /* margin: 100px auto auto 300px; */
}

.logo_white{
    position: relative;
    background-image: url("../assets/logo_testMyElephant_white.png");
    background-attachment: center;
    background-size: 100%;
    width: 200px;
    height: 200px;
    margin-top: auto auto -100px auto;

    /* margin: 100px auto auto 300px; */
}

.nav-bar, .flex{
    display: flex;
    max-height: 300px;
}


.leftSide{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    margin-top: -100px;
}

.navbar_hidden{
    display: none;
}

.navbar_display{

    position: fixed;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: right;
    right: 0;
    margin: 20px 30px auto auto;
}

.bold {
    font-weight: 900;
}

.largeFont{
    font-size: 2àpx;
}


.loginPage{
    background-image: url("../assets/BG2tme-min.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-x: center;
    background-size: cover;
}
.bg-gray-100{
    background-image: url("../assets/BG2tme-min.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: bottom;
    background-size: cover;
}

.showReposPage{
    background-image: url("../assets/BG2tme-min.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
}


#allContent{
    width: 70vw;
    margin: auto;
    margin-top: 150px;
}

.menuBG{
    margin-top: -20px;
}

.logout{
    margin-right: 5px;
}

body input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;
}
body input + label span {
    position: absolute;
    width: 120%;
    height: 3px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    opacity: 1;
    background: white;
    transition: 0.5s;
}
body input + label span:first-child {
    top: 3px;
}
body input + label span:last-child {
    top: 16px;
}
body label:hover {
    cursor: pointer;
}
body input:checked + label span {
    opacity: 0;
    display: none;
    top: 50%;
}
body input:checked + label span:first-child {
    opacity: 1;
    display: block;
    transform: rotate(405deg);
}
body input:checked + label span:last-child {
    opacity: 1;
    display: block;
    transform: rotate(-405deg);
}
body input ~ nav {
    color: white;
    position: fixed;
    top: 0;
    right: 30px;
    width: 150px;
    height: 100px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
}
body input ~ nav > ul {
    text-align: right;
    position: absolute;
    top: 15%;
    /* left: 20%; */
    right: 1%;
}
body input ~ nav > ul > li {
    opacity: 0;
    display: none;
    transition: 0.5s;
    transition-delay: 0s;
}
body input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    opacity: 1;
    display: block;
    padding: 5px;
}

body input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
}
body input:checked ~ nav > ul > li {
    opacity: 1;
    display: block;
    transition-delay: 0.5s;
}

.menu{
    display: flex;
    flex-direction: column;
}

.white {
    color: white;
}

.bgGreen{
    background: rgb(0,71,9);
    background: linear-gradient(63deg, rgba(0,71,9,1) 0%, rgba(0,108,105,1) 100%);
    padding: 10px;
    border-radius: 5px;
}

.bgShadow{
    background: rgb(0,71,9);
    background: linear-gradient(180deg, rgba(0,71,9,1) 0%, rgba(0,73,71,0) 100%);
   padding: 10px;
   border-radius: 5px;
}

.bgWhite{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.hidden {
    position: absolute;
    left: -10000em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.marginProfil > * {
    margin: 10px;
}

.verticalLine{
    width: 2px;
    height: 20px;
    margin: auto 10px auto 10px;
    background-color: lightseagreen;
}

.aboutPage{
    position: absolute;
    margin: auto auto auto auto;
    background-image: url("../assets/BG4tme-min.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-x: left;
    /* background-position-y: 80%; */
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.aboutContent{
    max-width: 800px;
    margin: 30px auto auto auto;
}

.aboutTitle{
    font-size: 40px;
    max-width: 800px;
    margin: auto auto 0px auto;
    text-align: left;
    color: white
}

.pageTitle{
    font-size: 40px;
    max-width: 800px;
    margin: 0px auto 0px auto;
    text-align: center;
    color: white
}

.aboutContent > h3 {
    font-size: 20px;
}

.alertBootstrap{
    margin: auto ;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 500px) {

    .home{
        bottom: 0;
        left: 0;
        background: url("../assets/BG1tme-min.jpg") center center fixed no-repeat;
        background-size: cover;
    }

    .loginPage, .bg-gray-100{
        top: 0;
        left: 0;
        background: url("../assets/BG2tme-min.jpg") center center fixed no-repeat;
        background-size: cover;
    }


    .leftSide{
        margin: auto auto auto 7vw;
    }

    body input:checked ~ nav {
        background: linear-gradient(63deg, rgba(0,71,9,1) 0%, rgba(0,108,105,1) 100%);
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);

    }

    .aboutPage{
        top: 0;
        left: 0;
        background: url("../assets/BG4tme-min.jpg") center center fixed no-repeat;
        background-size: cover;
    }

    .logo_scanner {
        opacity: 0;
    }


    .showReposPage{
        top: 0;
        left: 0;
        background: url("../assets/BG2tme-min.jpg") center center fixed no-repeat;
        background-size: cover;
    }


  }

  @media screen and (min-width: 501px) and (max-width: 800px) {
    body input:checked ~ nav {
        background: linear-gradient(63deg, rgba(0,71,9,1) 0%, rgba(0,108,105,1) 100%);
    }

  }



@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;
